body {
    font-family: Arial;
    padding: 25px;
    width: 50%;
}

img {
    padding: 10px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

.left {
    float: left;
}

footer {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    background-color: #111;
}
